.categories {
    background-color: @theme_bg_color;
}

.category {
    background-color: @theme_bg_color;
    padding: 10px;
}

.category:selected {
    background-color: @theme_selected_bg_color;
}

.characters {
    background-color: white;
}

.big-label {
    font-size: 5em;
    font-weight: bold;
}

.character-label {
    font-size: 7em;
    font-weight: bold;
}

.detail-label {
    font-size: small;
}
